/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #ff6a00, #ee0979);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Adding a smooth transition for all page elements */
* {
  transition: all 0.3s ease-in-out;
}
